<div class="container">

    <h1>Map of places</h1>

    <hr>

    <figure id="myMap"></figure>


    <script src="../../js/directions.js"></script>
    <script src="../../js/mapStyles.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../../js/places-map-setup.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhE6dDInBtfmpr0sv9hhyg506S4spcRBk&callback=initMap"></script>
    
</div>