.navbar {
    margin-bottom: 40px;
}

.delBtn {
    color: red
}

#myMap {
    background-color: grey;
    height: 50vh;
}

.index img {
    height: 30vh;
    width: 70vw;
    object-fit: cover;
    margin-top: 2rem;
}

.index-btns > * {
    margin-right: 2rem;
}
